 code[class*="language-"],
pre[class*="language-"] {
	color: #AAAAAA;
	background: none;
	font-family: inherit;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;
	tab-size: 4;
	hyphens: none;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #444444;
}

.token.punctuation {
	color: #666666;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	color: var(--brand);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #61afef;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #abb2bf;
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: #c678dd;
}

.token.function,
.token.class-name {
	color: #e5c07b;
}

.token.regex,
.token.important,
.token.variable {
	color: #e06c75;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}
